# JSON Serialisation of user defined objects

In [433]:
import json

In [434]:
class Customer:
    listCus = []
    def __init__(self):
        self.id = 0
        self.name = 0
        self.age = 0
        print("From Customer class")

In [435]:
Customer.listCus.clear()

In [436]:
ob = Customer()

From Customer class

In [437]:
ob.id = "20"

In [438]:
ob.name = "Vishal"
ob.age = "20"

In [439]:
Customer.listCus.append(ob)

In [440]:
for i in range(10):
    ob = Customer()
    ob.id = str(i+1)
    ob.name = "Vishal"+str(i)
    ob.age = str(i+20)
    Customer.listCus.append(ob)

From Customer class
From Customer class
From Customer class
From Customer class
From Customer class
From Customer class
From Customer class
From Customer class
From Customer class
From Customer class

#### vars() converts the object in to dictionary object

In [441]:
def func1(ob):
    return vars(ob)

In [442]:
func1(Customer.listCus[0])

{'id': '20', 'name': 'Vishal', 'age': '20'}

In [443]:
my_dump = json.dumps(Customer.listCus, default=func1)

In [444]:
my_dump

'[{"id": "20", "name": "Vishal", "age": "20"}, {"id": "1", "name": "Vishal0", "age": "20"}, {"id": "2", "name": "Vishal1", "age": "21"}, {"id": "3", "name": "Vishal2", "age": "22"}, {"id": "4", "name": "Vishal3", "age": "23"}, {"id": "5", "name": "Vishal4", "age": "24"}, {"id": "6", "name": "Vishal5", "age": "25"}, {"id": "7", "name": "Vishal6", "age": "26"}, {"id": "8", "name": "Vishal7", "age": "27"}, {"id": "9", "name": "Vishal8", "age": "28"}, {"id": "10", "name": "Vishal9", "age": "29"}]'

# JSON Deserialisation of user defined objects

In [445]:
def func2(d):
    cus = Customer()
    cus.id = d['id']
    cus.age = d['age']
    cus.name = d['name']
    return cus

In [446]:
Customer.listCus.clear()

In [447]:
Customer.listCus = json.loads(my_dump, object_hook=func2)

From Customer class
From Customer class
From Customer class
From Customer class
From Customer class
From Customer class
From Customer class
From Customer class
From Customer class
From Customer class
From Customer class

In [448]:
print(Customer.listCus[0].id)

20

In [449]:
print(Customer.listCus[0].name)

Vishal

In [450]:
print(Customer.listCus[0].age)

20

In [451]:
for i in range(len(Customer.listCus)):
    print(vars(Customer.listCus[i]))

{'id': '20', 'name': 'Vishal', 'age': '20'}
{'id': '1', 'name': 'Vishal0', 'age': '20'}
{'id': '2', 'name': 'Vishal1', 'age': '21'}
{'id': '3', 'name': 'Vishal2', 'age': '22'}
{'id': '4', 'name': 'Vishal3', 'age': '23'}
{'id': '5', 'name': 'Vishal4', 'age': '24'}
{'id': '6', 'name': 'Vishal5', 'age': '25'}
{'id': '7', 'name': 'Vishal6', 'age': '26'}
{'id': '8', 'name': 'Vishal7', 'age': '27'}
{'id': '9', 'name': 'Vishal8', 'age': '28'}
{'id': '10', 'name': 'Vishal9', 'age': '29'}

In [452]:
my_ob = Customer.listCus[0]

In [453]:
my_ob.__dict__ # this can also be used

{'id': '20', 'name': 'Vishal', 'age': '20'}

# Lamda Function

## Lamda functions are anonymous function

In [454]:
# Normal Function
def fun1(a, b):
    return a+b

In [455]:
m, n = 2, 3

In [456]:
print(fun1(2, 3))

5

In [457]:
print(fun1)

<function fun1 at 0x105d55378>

In [458]:
s = fun1 # s is a function pointer contains the address of the function

In [459]:
s(m, n)

5

In [460]:
# Lamda function

In [461]:
lambda a, b: a + b

In [462]:
(lambda a, b: a + b)(m, n)

5

In [463]:
s = lambda a, b: a * b # again s is a function pointer

In [464]:
s(m, n)

6

# Map Function

In [465]:
def add(a, b):
    return a+b

In [466]:
l1 = [2,3,4,5,6,7,5]
l2 = [1,2,3,4,5,6]
print(l1+l2)

[2, 3, 4, 5, 6, 7, 5, 1, 2, 3, 4, 5, 6]

In [467]:
print(len(l1))
print(len(l2))
print(len(l1+l2))

7
6
13

### Pair wise add elements of the list (example of map)

In [468]:
m = map(add, l1, l2)

In [469]:
print(list(m))

[3, 5, 7, 9, 11, 13]

## Using lambda function with map

In [470]:
m1 = map(lambda a, b: a + b, l1, l2) # we could use lamnda function here because we neded address of the function in map

In [471]:
list(m1)

[3, 5, 7, 9, 11, 13]

# Filter Function

In [472]:
a = range(1, 11)
# Need to type cast 
print(a)
print(list(a))

range(1, 11)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [473]:
def checkeven(a):
    return a%2 == 0

In [474]:
# r = filter(checkeven, a)
# or
# r = filter(lambda i: i%2==0, a)
# or
r = filter(lambda a: a%2==0, a)

In [475]:
r

In [476]:
list(r)

[2, 4, 6, 8, 10]

# Reduce Function

### Reduce function perform cumulative function on the list

In [477]:
import functools

In [478]:
l1 = [2,3,3,4,5,6,6]

In [479]:
ans = functools.reduce(lambda a, b:a+b, l1)

In [480]:
print(ans)

29

In [481]:
mydict = {1: "vishal", 2: "Pandey"}

In [482]:
for i in mydict:
    print(i)
    print(mydict[i])

1
vishal
2
Pandey

# List comprension

In [483]:
l1 = [1,2,3,4,5]
l2 = [e for e in l1] # this is called list comporeneshion

In [484]:
l2

[1, 2, 3, 4, 5]

### Find the square of all the element of the list

In [485]:
l3 = [e**2 for e in l1]
print(l3)

[1, 4, 9, 16, 25]

In [486]:
# lis = element for element in iterator if condition

In [487]:
l1 = range(1, 11)

In [488]:
l2 = [e**2 for e in l1 if e%2==0]

In [489]:
l2

[4, 16, 36, 64, 100]

# Set

1.) Collection of heterogeneous data type <br>
2.) Mutable in nature <br>
3.) Collection of unique elements<br>
4.) Saved in the memory with the hash <br>
5.) Saved no in the order <br>
6.) Doesnot support indexing <br>
7.) Generally used for the set operation in the set theory <br>




### Syntax
s = {2,3,4,5,6,6,7,5,5,4} <br>

print(s)

In [490]:
s = {2,3,3,3,4,5,6,7,7,8,9}
print(s) # Unique elements in s

{2, 3, 4, 5, 6, 7, 8, 9}

In [491]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7,9}
print(s1.union(s2)) # Unique elements in s1 and s2

{1, 2, 3, 4, 5, 6, 7, 9}

In [492]:
s1.issuperset(s2)

False

In [493]:
s1.intersection(s2)

{3, 4, 5}

In [494]:
s1.add(1)
s1.remove(1)

# Frogen Set

1.) Immutable in nature <br>
2.) point is the only difference between set and frozen set

In [495]:
s1 = frozenset({1,2,3,4,4,5})

In [496]:
print(type(s1))

<class 'frozenset'>

In [497]:
print(s1)

frozenset({1, 2, 3, 4, 5})

In [498]:
class Class2:
    def __init__(self):
        print("From class2")
        self.b = 1234
        print(self.a)

In [499]:
class class1(Customer, Class2):
    def __init__(self):
        print(self)
        self.a = 12
        super().__init__()
        Class2.__init__(self)
        print(self.b)

In [500]:
ob1 = class1()

<__main__.class1 object at 0x1052d86a0>
From Customer class
From class2
12
1234