In [108]:
# Dictionary

In [109]:
x = {1:55, 2:77, 8:82}
x.update({9:88})

In [110]:
x

{1: 55, 2: 77, 8: 82, 9: 88}

In [111]:
x.setdefault(9, 88)

88

In [112]:
x

{1: 55, 2: 77, 8: 82, 9: 88}

In [113]:
# Difference between update and setdefault is setdefault doesnot update the existing data

In [114]:
# Eg.
x = {1:55, 2:77, 8:82}

In [115]:
x.setdefault(2,88)

77

In [116]:
x

{1: 55, 2: 77, 8: 82}

In [117]:
# Experiment

In [118]:
x.setdefault(2.0, 989)

77

In [119]:
x

{1: 55, 2: 77, 8: 82}

In [120]:
# Conclusion 2 and 2.0 makes no difference

In [121]:
# Keys are case sensitive "A" and "a" makes different keys

In [122]:
m = x.fromkeys("abd")

In [123]:
m

{'a': None, 'b': None, 'd': None}

In [124]:
# Here m does not depends on x we can also use class name instead of variable name

In [125]:
m = dict.fromkeys("asdfghjkl")

In [126]:
m

{'a': None,
 's': None,
 'd': None,
 'f': None,
 'g': None,
 'h': None,
 'j': None,
 'k': None,
 'l': None}

In [127]:
keys = [1,2,3,4]
values = [33, 44, 55, 66]

In [128]:
theDict = dict.fromkeys(keys)

In [129]:
theDict

{1: None, 2: None, 3: None, 4: None}

In [130]:
for e in range(len(values)):
    theDict[keys[e]] = values[e]

In [131]:
theDict

{1: 33, 2: 44, 3: 55, 4: 66}

## Functions

### Type of function
<ol>
    <li>Required Argument functions </li>
    <li>Keyword argument function</li>
    <li>Default Argument functions </li>
    <li>Variable length argument function
        <ol>
            <li>Tuple type</li>
            <li>Dictionary type</li>
        </ol>
    </li>
</ol>

In [132]:
# 1. Required Argument function

def sum(a, b):
    r = a+b
    return r

m = 5
n = 7

s = sum(m, n)
print(s)
# t = sum(2,3,4) -> This would give error

12

In [133]:
# Keyword Argument functions

def sub(a, b): # these act as the arguments
    r = a-b
    return r

m = 5
n = 7

s = sub(b = n, a = m)
print(s)

# Here we pass same requred no. of aruments with keywords, no need to 
# follow order of parameters

-2

In [134]:
# Default argument functions

def addCustomer(sid = "10", age = "20", name = "Vishal"):
    print("id: ", sid, "age: ", age, "name: ", name)

addCustomer(sid = '12', name="Ram")


# Example 2:
def sum(a = 2, b = 3):
    return a+b
a,b,c,d,e = 2,3,4,5,6

m = sum(c, d)
n = sum(e)
t = sum()
p = sum(b = d)

print("m: ", m)
print("n: ", n)
print("t: ", t)
print("p: ", p)


# The arguments which are not passed the function runs with default arguments
# Used where we have to add redundent data to the database or table

id:  12 age:  20 name:  Ram
m:  9
n:  9
t:  5
p:  7

In [135]:
# Variable Argument function #
# ```````````````````````````#
# A. Tuple type #

def mySum(*t):
    print(t) # t becumes as a tuple type of variable python recommends use t as args
    print(type(t))
    s = 0
    for e in t:
        s += e
    return s

mySum(1,2,4,5)

# Reusablity of code supports variable argument function
# Do not print in bll

(1, 2, 4, 5)
<class 'tuple'>

12

In [136]:
# Variable Argument function #
# ```````````````````````````#
# B. Tuple Keyword Arguments / Dictionary arguments #

def mySum1(**d):
    print(d) # d becomes as dict type of variale ,  python recommends use d as kawrgs
    s = 0
    for e in d.values():
        s += e
    return s
mySum1(a = 1,b = 2,c = 3,d = 4)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

10

## String Formating

In [137]:
x = "cetpa"
print(x)

cetpa

In [138]:
age = int(input("Enter your age :"))
name = input("Enter your name :")
print("Your age is", age, "years and name is",name) 
print("Your age is %d years and name is %s"%(age, name)) # another method 1st syntax
print("Your age is {} years and name is {}".format(age, name)) # 2nd syntax
print("Your age is {a} years and name is {b}".format(a = age, b = name)) # 3rd syntax
print(f"Your age is {age} years and name is {name}") # 4th syntax (New format)

Enter your age :

ValueError: invalid literal for int() with base 10: ''

In [139]:
# To print special character with in string use extra slash in the string
# Eg.
print("Vish\\nnal")

Vish\nnal

In [140]:
# Another method to print escape character in string use raw string 
# Eg,
print(r"Vish\npandey")

Vish\npandey

In [141]:
print(fr"{name}\n")

Vishal\n

In [142]:
# Can use both fr simultaneously