In [39]:
x = [10,20,30,40]
y = ['vikas', 'anil', 'amit', 'arun']

In [40]:
for i in range(0, len(x), 2):
    print("Customer Id: ", x[i], "Customer Name:", y[i], "")

Customer Id:  10 Customer Name: vikas
Customer Id:  30 Customer Name: amit

In [41]:
for i in range(5, 1, 1):
    print(i)

In [42]:
for i in range(len(x)-1):
    print(x[i] + x[i+1])

30
50
70

In [43]:
# for i in x:
#     print(x[x.index(i)], y[x.index(i)])

In [48]:
for i in range(len(x)):
    print(x[i])
#     x.append(1)
print(i)

10
20
30
40
3

In [49]:
for i in range(5):
    pass

In [50]:
print(i)

4

In [69]:
result = 0
for i in range(2,10):
#     print(i**3)
    result += i**3
print(result)

2024

In [82]:
# Continue

result = 0
for i in range(2,10):
    if i == 5:
        continue
    result += i**3
print(result)

1899

In [83]:
2024 - 1899

125

In [87]:
# Break

result = 0
for i in range(2,100):
    if i == 10:
        break
    result += i**3
print(result)

2024

In [91]:
# Pass

result = 0
for i in range(2,10):
    if i == 5:
        pass
    else:
        print("Printing ", i)
    result += i**3
print(result)

Printing  2
Printing  3
Printing  4
Printing  6
Printing  7
Printing  8
Printing  9
2024

In [94]:
for i in range(5):
    pass
    print("Hello", i)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4

In [96]:
# While Loop

In [109]:
i=0
while(i < 4):
#     print(x[i], i)
    print(i)
    i += 0.1

0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6
0.7
0.7999999999999999
0.8999999999999999
0.9999999999999999
1.0999999999999999
1.2
1.3
1.4000000000000001
1.5000000000000002
1.6000000000000003
1.7000000000000004
1.8000000000000005
1.9000000000000006
2.0000000000000004
2.1000000000000005
2.2000000000000006
2.3000000000000007
2.400000000000001
2.500000000000001
2.600000000000001
2.700000000000001
2.800000000000001
2.9000000000000012
3.0000000000000013
3.1000000000000014
3.2000000000000015
3.3000000000000016
3.4000000000000017
3.5000000000000018
3.600000000000002
3.700000000000002
3.800000000000002
3.900000000000002

In [107]:
x

[10, 20, 30, 40]

In [110]:
x = 'cetpa'
i = 0
while(i<5):
    print(x[i])
    i += 1

c
e
t
p
a

In [114]:
m = 0
# m = 1 or True, 4342, "Any non zero value"
while(m):
    print("Infinite")

In [119]:
# Do While
m = int(input("Enter a positive number"))
while(1):
    print("Hello", m)
    if(m<=0):
        break
    else:
        m = m-1

Enter a positive number-2
Hello -2

In [129]:
for i in range(65, 123):
    print(chr(i),"->",ord(chr(i)))

A -> 65
B -> 66
C -> 67
D -> 68
E -> 69
F -> 70
G -> 71
H -> 72
I -> 73
J -> 74
K -> 75
L -> 76
M -> 77
N -> 78
O -> 79
P -> 80
Q -> 81
R -> 82
S -> 83
T -> 84
U -> 85
V -> 86
W -> 87
X -> 88
Y -> 89
Z -> 90
[ -> 91
\ -> 92
] -> 93
^ -> 94
_ -> 95
` -> 96
a -> 97
b -> 98
c -> 99
d -> 100
e -> 101
f -> 102
g -> 103
h -> 104
i -> 105
j -> 106
k -> 107
l -> 108
m -> 109
n -> 110
o -> 111
p -> 112
q -> 113
r -> 114
s -> 115
t -> 116
u -> 117
v -> 118
w -> 119
x -> 120
y -> 121
z -> 122

In [131]:
myStr = input("Enter your name in small letter")
newStr = ""
for i in myStr:
    newStr += i.capitalize()
print(newStr)

Enter your name in small lettervishal
VISHAL

In [145]:
myStr = input("Enter your name in small letter \t")
newStr = ""
for i in range(len(myStr)):
    newStr += chr(ord(myStr[i])-32)
print(newStr)

Enter your name in small letter 	vishal
VISHAL

In [142]:
myStr = input("Enter your name in CAPITAL letter \t")
newStr = ""
for i in range(len(myStr)):
    newStr += chr(ord(myStr[i])+32)
print(newStr)

Enter your name in CAPITAL letter 	VISHAL
vishal

In [180]:
def upper(x):
    myStr = x
    newStr = ""
    for i in range(len(myStr)):
        if ord(myStr[i]) == ord(" "):
            newStr += " "
        elif(ord(myStr[i])>=97 and ord(myStr[i]) <=122):
            newStr += chr(ord(myStr[i])-32)
        else:
            newStr += myStr[i]
    return newStr

In [182]:
upper("vishal Pandey")

'VISHAL PANDEY'

In [176]:
ord(' ')

32

In [185]:
def lower(x):
    myStr = x
    newStr = ""
    for i in range(len(myStr)):
        if ord(myStr[i]) == ord(" "):
            newStr += " "
        elif(ord(myStr[i])>=65 and ord(myStr[i]) <=90):
            newStr += chr(ord(myStr[i])+32)
        else:
            newStr += myStr[i]
    return newStr

In [186]:
lower("VISHAL Pandey")

'vishal pandey'

In [187]:
def toggle(x):
    myStr = x
    newStr = ""
    for i in range(len(myStr)):
        if ord(myStr[i]) == ord(" "):
            newStr += " "
        elif(ord(myStr[i])>=65 and ord(myStr[i]) <=90):
            newStr += chr(ord(myStr[i])+32)
        elif(ord(myStr[i])>=97 and ord(myStr[i]) <=122):
            newStr += chr(ord(myStr[i])-32)
        else:
            newStr += myStr[i]
    return newStr

In [189]:
toggle('VishaL PanDey')

'vISHAl pANdEY'