In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [22]:
tp = (1,2,3,4,5,6)
lst = [1,2,3,4,5]

In [31]:
# String list and tuple access elements by using index values

In [32]:
lst[1] = 3

In [33]:
lst

[1, 3, 3, 4, 5]

In [34]:
x = 'cetpa'

In [35]:
x[0]

'c'

In [36]:
for i in x:
    print(i)

c
e
t
p
a

In [37]:
# List is mutable
# String and tuple is imutable

In [68]:
lst = [0,1,2,3,4,5,6,7,8,9]
lst.pop(5)

5

In [70]:
lst.pop(5)

6

In [71]:
lst

[0, 1, 2, 3, 4, 7, 8, 9]

In [72]:
id(lst)

4514013640

In [73]:
lst[0] = '123123132412421412312341244124142141241242132143124241241241242412312312323124124'

In [74]:
id(lst)

4514013640

In [78]:
lst

['123123132412421412312341244124142141241242132143124241241241242412312312323124124',
 1,
 2,
 3,
 4,
 7,
 8,
 9]

In [80]:
"""
Use of tuple
~~~~~~~~~~~~
1) Uses less memory
2) Make constant for multiple
3) Exchange data between presentation layer and bussiness logic layer

"""

'\nUse of tuple\n~~~~~~~~~~~~\n1) Uses less memory\n2) Make constant for multiple\n3) Exchange data between presentation layer and bussiness logic layer\n\n'

In [81]:
lst

['123123132412421412312341244124142141241242132143124241241241242412312312323124124',
 1,
 2,
 3,
 4,
 7,
 8,
 9]

In [82]:
id(lst)

4514013640

In [83]:
id(lst[0])

4808485040

In [118]:
v = range(1,11)

In [119]:
v

range(1, 11)

In [120]:
for i in v:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [130]:
for i in range(2,8,2):
    print(i)

2
4
6

In [132]:
for i in range(8,2,-2):
    print(i)

8
6
4

In [134]:
for i in range(5):
    print(i)
    i = i+2;
    print(i)

0
2
1
3
2
4
3
5
4
6

In [137]:
x = range(1,10)

In [138]:
x

range(1, 10)

In [139]:
type(x)

range

In [142]:
x = 'cetpa'
for i in range(len(x)):
    print(x[i])

c
e
t
p
a

In [154]:
x = "cetpa"
y = ""
for i in x:
    if x.index(i)%2 == 0:
        y = y+i.capitalize()
    else:
        y = y+i
    
print(y)

CeTpA

In [162]:
# Simple label program
# 1) Terms printing
for i in range(10):
    print((i+1)*2)
    
print()

for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

2
4
6
8
10
12
14
16
18
20

In [165]:
for i in range(1,6):
    print(i**2 + (i+1)**2)

5
13
25
41
61