# JSON Serialisation of user defined objects

In [184]:
import json

In [185]:
class Customer:
    listCus = []
    def __init__(self):
        self.id = 0
        self.name = 0
        self.age = 0

In [186]:
Customer.listCus.clear()

In [187]:
ob = Customer()

In [188]:
ob.id = "20"

In [189]:
ob.name = "Vishal"
ob.age = "20"

In [190]:
Customer.listCus.append(ob)

In [191]:
for i in range(10):
    ob = Customer()
    ob.id = str(i+1)
    ob.name = "Vishal"+str(i)
    ob.age = str(i+20)
    Customer.listCus.append(ob)

#### vars() converts the object in to dictionary object

In [192]:
def func1(ob):
    return vars(ob)

In [193]:
func1(Customer.listCus[0])

{'id': '20', 'name': 'Vishal', 'age': '20'}

In [194]:
my_dump = json.dumps(Customer.listCus, default=func1)

In [195]:
my_dump

'[{"id": "20", "name": "Vishal", "age": "20"}, {"id": "1", "name": "Vishal0", "age": "20"}, {"id": "2", "name": "Vishal1", "age": "21"}, {"id": "3", "name": "Vishal2", "age": "22"}, {"id": "4", "name": "Vishal3", "age": "23"}, {"id": "5", "name": "Vishal4", "age": "24"}, {"id": "6", "name": "Vishal5", "age": "25"}, {"id": "7", "name": "Vishal6", "age": "26"}, {"id": "8", "name": "Vishal7", "age": "27"}, {"id": "9", "name": "Vishal8", "age": "28"}, {"id": "10", "name": "Vishal9", "age": "29"}]'

# JSON Deserialisation of user defined objects

In [196]:
def func2(d):
    cus = Customer()
    cus.id = d['id']
    cus.age = d['age']
    cus.name = d['name']
    return cus

In [197]:
Customer.listCus.clear()

In [198]:
Customer.listCus = json.loads(my_dump, object_hook=func2)

In [199]:
print(Customer.listCus[0].id)

20

In [200]:
print(Customer.listCus[0].name)

Vishal

In [201]:
print(Customer.listCus[0].age)

20

In [206]:
for i in range(len(Customer.listCus)):
    print(vars(Customer.listCus[i]))

{'id': '20', 'name': 'Vishal', 'age': '20'}
{'id': '1', 'name': 'Vishal0', 'age': '20'}
{'id': '2', 'name': 'Vishal1', 'age': '21'}
{'id': '3', 'name': 'Vishal2', 'age': '22'}
{'id': '4', 'name': 'Vishal3', 'age': '23'}
{'id': '5', 'name': 'Vishal4', 'age': '24'}
{'id': '6', 'name': 'Vishal5', 'age': '25'}
{'id': '7', 'name': 'Vishal6', 'age': '26'}
{'id': '8', 'name': 'Vishal7', 'age': '27'}
{'id': '9', 'name': 'Vishal8', 'age': '28'}
{'id': '10', 'name': 'Vishal9', 'age': '29'}

In [207]:
my_ob = Customer.listCus[0]

In [208]:
my_ob.__dict__ # this can also be used

{'id': '20', 'name': 'Vishal', 'age': '20'}

# Lamda Function

## Lamda functions are anonymous function

In [230]:
# Normal Function
def fun1(a, b):
    return a+b

In [231]:
m, n = 2, 3

In [232]:
print(fun1(2, 3))

5

In [233]:
print(fun1)

<function fun1 at 0x1050b77b8>

In [241]:
s = fun1 # s is a function pointer contains the address of the function

In [242]:
s(m, n)

5

In [243]:
# Lamda function

In [244]:
lambda a, b: a + b

In [245]:
(lambda a, b: a + b)(m, n)

5

In [246]:
s = lambda a, b: a * b # again s is a function pointer

In [247]:
s(m, n)

6

# Map Function

In [254]:
def add(a, b):
    return a+b

In [287]:
l1 = [2,3,4,5,6,7,5]
l2 = [1,2,3,4,5,6]
print(l1+l2)

[2, 3, 4, 5, 6, 7, 5, 1, 2, 3, 4, 5, 6]

In [288]:
print(len(l1))
print(len(l2))
print(len(l1+l2))

7
6
13

### Pair wise add elements of the list (example of map)

In [289]:
m = map(add, l1, l2)

In [290]:
print(list(m))

[3, 5, 7, 9, 11, 13]

## Using lambda function with map

In [298]:
m1 = map(lambda a, b: a + b, l1, l2) # we could use lamnda function here because we neded address of the function in map

In [299]:
list(m1)

[3, 5, 7, 9, 11, 13]

# Filter Function

In [324]:
a = range(1, 11)
# Need to type cast 
print(a)
print(list(a))

range(1, 11)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [325]:
def checkeven(a):
    return a%2 == 0

In [326]:
# r = filter(checkeven, a)
# or
# r = filter(lambda i: i%2==0, a)
# or
r = filter(lambda a: a%2==0, a)

In [327]:
r

In [328]:
list(r)

[2, 4, 6, 8, 10]

# Reduce Function

### Reduce function perform cumulative function on the list

In [344]:
import functools

In [345]:
l1 = [2,3,3,4,5,6,6]

In [346]:
ans = functools.reduce(lambda a, b:a+b, l1)

In [347]:
print(ans)

29

In [348]:
mydict = {1: "vishal", 2: "Pandey"}

In [351]:
for i in mydict:
    print(i)
    print(mydict[i])

1
vishal
2
Pandey

# List comprension

In [355]:
l1 = [1,2,3,4,5]
l2 = [e for e in l1] # this is called list comporeneshion

In [356]:
l2

[1, 2, 3, 4, 5]

### Find the square of all the element of the list

In [357]:
l3 = [e**2 for e in l1]
print(l3)

[1, 4, 9, 16, 25]

In [358]:
# lis = element for element in iterator if condition

In [359]:
l1 = range(1, 11)

In [360]:
l2 = [e**2 for e in l1 if e%2==0]

In [361]:
l2

[4, 16, 36, 64, 100]

# Set

1.) Collection of heterogeneous data type <br>
2.) Mutable in nature <br>
3.) Collection of unique elements<br>
4.) Saved in the memory with the hash <br>
5.) Saved no in the order <br>
6.) Doesnot support indexing <br>
7.) Generally used for the set operation in the set theory <br>




### Syntax
s = {2,3,4,5,6,6,7,5,5,4} <br>

print(s)

In [374]:
s = {2,3,3,3,4,5,6,7,7,8,9}
print(s) # Unique elements in s

{2, 3, 4, 5, 6, 7, 8, 9}

In [375]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7,9}
print(s1.union(s2)) # Unique elements in s1 and s2

{1, 2, 3, 4, 5, 6, 7, 9}

In [376]:
s1.issuperset(s2)

False

In [377]:
s1.intersection(s2)

{3, 4, 5}

In [382]:
s1.add(1)

# Frogen Set

1.) Immutable in nature <br>
2.) point is the only difference between set and frozen set

In [383]:
s1 = frozenset({1,2,3,4,4,5})

In [384]:
print(type(s1))

<class 'frozenset'>